// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'home';
@import 'product';

body {
    font-family: 'Basier Square',sans-serif;
}

.product-section{
    margin : 10px 20px;
    overflow-wrap: break-word;
    max-height: 280px;
}

.a-btn{
    color:black;
    border-radius:5px;
    padding : 2px;
    cursor: pointer;
    text-decoration: none;
    width:auto;
    &:hover{
        span{
            color:black;
        }
    }
}

.interact-btn{
    margin : 5px;
    padding : 5px;
    height :auto;
    width : auto;
    border-radius:6px;
    text-decoration: none;
    color : white;
    font-size : 10px;
    font-weight : bold;
    cursor: pointer;
    &:hover{
        color : white;
    }
}

.modal-close-btn{
    width: 30px;
    height:30px;
    background-color:#F0F2F5 ;
    border-radius: 50%;
    cursor:pointer;
    &:hover{
        background-color:#BCC0C4;

    }
}
.icon-align{
    padding-top:14px;
}

.redirect-btn{
    padding : 10px;
    height :auto;
    width : auto;
    border-radius:6px;
    background-color:blue;
    text-decoration: none;
    color : white;
    font-size : 15px;
    font-weight : bold;
    cursor: pointer;

    &:hover{
        border : 2px solid blue;
        border-radius:6px;
        background-color : white;
        color: blue;
        transition: .5s;
    }
}

/*vertical align*/
.vertical-container{
    position: relative;
}

.vertical-element-middle-align{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.p-btn{
    color:black;
    border: 2px solid black;
    border-radius:5px;
    padding : 2px;
    cursor: pointer;
    width:auto;
    margin:0px;
}

.buy-btn{
    background-color:var(--main-color);
    box-shadow: var(--box-shadow-set );
    color:white;
    border-radius:8px;
    padding : 5px;
    cursor: pointer;
    text-decoration: none;
    width:auto;
    color:red;
    span{
        font-size: 12px;
    }
    &:hover{
        transition: .5s;
        background-color:var(--hover-color);
        box-shadow:none;
        span{
            color:red;

        }
    }
}
.product-section{
    display:flex;
}

@media screen and (min-width : 1020px) and (max-width: 10000px){
    .product-section{
        justify-content: center;
    }


}


@media screen and (min-width : 820px) and (max-width: 1020px){
    .product-section{
        justify-content: center;
    }

}


@media screen and (min-width : 450px) and (max-width: 820px){

    .product-section{
        justify-content: center;
    }
}


@media screen and (max-width: 450px){

    .product-section{
        justify-content: center;
    }
}

.filter-element{
    border-radius: 10px;
    margin : 3px 5px;
    cursor: pointer;
    width:auto;
    padding:8px;
    font-size: 15px;
    font-weight: 700;
    color:var(--product-name);
    // background-color: var(--main-color);
    box-shadow: var(--box-shadow-set );

    &:hover{
        color:var(--product-name);
        background-color: var(--hover-color);
        transition: .5s;
        box-shadow:none;
    }
}

.filter-button{
    // margin-left : 60px;
    // padding:8px;
    // font-size: 15px;
    // font-weight: 700;
    // color:var(--product-name);
    // box-shadow: var(--box-shadow-set );

    // &:hover{
    //     color:var(--product-name);
    //     background-color: var(--hover-color);
    //     transition: .5s;
    //     box-shadow:none;
    // }
}

.filter-button-activated{
    box-shadow:none;

}

.rating-star-checked{
    color:orange;
}


.filter-element-image{
    height : 30px;
    max-width : 50px;
}
