@import 'setting';

@mixin textOverflowEllipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin textOverflowYEllipsis{
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.product-slot{
    padding: 0px;
    border-radius: 10px;
    margin : 10px;
    width : 200px;
    height : 100%;
    background-color: white;
    --img-margin:1px;
    overflow: hidden;
    position: relative;

    cursor: pointer;
    .product-img-sec{
        margin:var(--img-margin);
        width:calc(100% - 2*var(--img-margin));
        height : 150px;
        // background-color: red;
        overflow: hidden;
    }

    .product-img{
        object-fit: cover;
        height: 100%;
        // height: 100%;
    }

    .product-text-sec{
        margin:0xp;
        width:100%;
        padding : 0px;

    }

    .product-name{
        font-weight:700;
        font-size  :15px;
        color:black;
        text-align: center;
        @include remove-margin-p;
        @include textOverflowYEllipsis;
    }

    .product-price{
        font-weight:700;
        font-size  :15px;
        color:red;
        @include remove-margin-p;
        margin-top:15px;
    }

    .product-action-sec{
        margin:0px;
        width:auto;
    }

    .product-left-number{
        background-color:rgb(255,245,203);
        border-radius:20px;
        color:black;
        font-size:12px;
        font-weight: 700;
        padding:5px;
    }

    .product-des{
        width:100%;
        height : 100px;
        overflow-wrap: break-word;
        padding: 7px;
        @include remove-margin-p;
        @include textOverflowYEllipsis;


    }

}


.product-title{
    @include textOverflowEllipsis;
    width:100%;
    font-size:15px;
    font-weight: 600;
}



